// Header
body {
    font-family: 'Fredoka', sans-serif;
}
.header {
    background-color: $fourth-color;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        color: white;
        font-style: italic;
        font-weight: bold;
        font-size: 25px;
        text-decoration: none;
    }
}

.container {
    max-width: 1200px;
    margin: 20px auto;
}

// Pagination 

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.btn--pagination {
    padding: 2px 8px;
    color: $fourth-color;

    &:hover {
        cursor: pointer;
    }
}

.btn--disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    &:hover {
        cursor: default;
    }
}

// İnput

.inpt {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;

    &--search {
        background: url("https://img.icons8.com/ios-glyphs/20/000000/search--v1.png") no-repeat;
        background-position: calc(100% - 12px);
    }
}

// Table

.table {
    width: 100%;

    &__item {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
        margin: 10px auto;
        gap: 10px;
        padding: 12px;
        font-size: 14px;

        @include breakpoint(sm) {
            font-size: 16px;
        }

        &--lgcenter {
            @include breakpoint(sm) {
                text-align: center;
            }
        }

        &--img {
            max-width: 200px;
            width: 100%;
            height: auto;
        }

        &--title {
            justify-self: stretch;
            align-self: center;
        }

        &--price {
            justify-self: stretch;
            align-self: center;
        }

        &--h2 {
            font-weight: bold;
            justify-self: center;
        }

        &--h3 {
            position: relative;
            font-weight: bold;
        }

        &--info::before {
            content: "Starts from*";
            position: absolute;
            font-size: 8px;
            font-style: italic;
            font-weight: normal;
            bottom: -10px;
            left: 0;
        }
       
    }
}


