// Header
body {
    font-family: 'Fredoka', sans-serif;
}
.header {
    background-color: $fourth-color;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        color: white;
        font-style: italic;
        font-weight: bold;
        font-size: 25px;
        text-decoration: none;
    }
}

.container {
    max-width: 1200px;
    margin: 20px auto;
}

// Pagination 

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.btn--pagination {
    padding: 2px 8px;
    color: $fourth-color;

    &:hover {
        cursor: pointer;
    }
}

.btn--disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    &:hover {
        cursor: default;
    }
}

// İnput

.inpt {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;

    &--search {
        background: url("https://img.icons8.com/ios-glyphs/20/000000/search--v1.png") no-repeat;
        background-position: calc(100% - 12px);
    }
}

// Table

.table {
    width: 100%;

    &__item {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
        margin: 10px auto;
        gap: 10px;
        padding: 12px;
        font-size: 14px;

        &:hover {
            cursor: pointer;
        }

        @include breakpoint(sm) {
            font-size: 16px;
        }

        &--lgcenter {
            @include breakpoint(sm) {
                text-align: center;
            }
        }

        &--img {
            max-width: 200px;
            width: 100%;
            height: auto;
        }

        &--title {
            justify-self: stretch;
            align-self: center;
        }

        &--price {
            justify-self: stretch;
            align-self: center;
        }

        &--h2 {
            font-weight: bold;
            justify-self: center;
        }

        &--h3 {
            position: relative;
            font-weight: bold;
        }

        &--info::before {
            content: "Starts from*";
            position: absolute;
            font-size: 8px;
            font-style: italic;
            font-weight: normal;
            bottom: -10px;
            left: 0;
        }
       
    }
}

// Detail

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 20px;

    @include breakpoint (sm) {
        flex-direction: row;
    }
    &__img {
        &--sm {
            width: 80px;
            min-height: 80px;
            height: auto;
            padding: 5px;
            border: 1px solid rgba(0,0,0,0.1);
            overflow: hidden;

            &:hover {
                cursor: pointer;
                padding: 12px;
            }
        }
        &--lg {
            max-width: 400px;
            width: 100%;
            height: auto;  
            overflow: hidden;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include breakpoint (sm) {
            align-items: flex-start;
            margin-left: 60px;
        }

        &--h1 {
            font-size: 24px;
            text-align: center;
            margin-bottom: 6px;

        }

        &--h3 {
            font-size: 18px;
            margin-bottom: 12px;
        }

        &--h5 {
            color: $third-color;
            font-size: 16px;
            text-align: center;
            margin-bottom: 6px;
            @include breakpoint (sm) {
                text-align: left;
            }
        }

        &--sm {
            margin-bottom: 12px;
            @include breakpoint (sm) {
                display: none;
            }
        } 

        &--lg {
            display: none;
            @include breakpoint (sm) {
                display: block;
            }
        } 

        &--price {
            text-align: center;
            color: rgb(67, 158, 74);
            font-size: 32px;
            margin-top: 6px;
        }
    }

    &__options {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

.btn--back {
    margin-left: 20px;
    text-decoration: none;
    padding: 5px;
    transition: ease all 0.5s;
    &:hover {
        background: black;
        color: white;

    }
}

.btn-text {
    padding: 5px 8px;
    color: $third-color;
}


.seperator {
    display: block;
    width: 100%;
    margin: 20px auto;
    height: 0.5px;
    background: rgba(72, 72, 72, 0.5);
    @include breakpoint (sm) {
        margin: 10px auto;
    }
}

